@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
* {
  font-family: "Josefin Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFAFA;
  color: #1C1C1C;
}
body a {
  color: #1C1C1C;
  text-decoration: none;
  transition: 0.4s;
}
body ul {
  list-style: none;
}
body .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  padding: 1.5rem 0;
  margin: 0 auto;
}
@media (max-width: 479px) {
  body .header {
    padding: 0.5rem;
    display: block;
    padding-top: 2rem;
    text-align: center;
  }
  body .header thead,
body .header tbody,
body .header th,
body .header td,
body .header tr {
    display: block;
  }
  body .header thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  body .header td:nth-last-child(1), body .header td:nth-last-child(2) {
    display: none;
  }
}
body .header-logo {
  color: Teal;
  text-shadow: 0 0 10px Teal;
  margin-top: 5rem;
  margin-left: 1rem;
  font-size: 3rem;
}
body .header-navbar {
  font-size: 1rem;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .header .navbar-buttons {
  all: unset;
  cursor: pointer;
  transition-duration: 0.4s;
  padding: 0.5rem 1.2rem;
  border-radius: 5%;
  box-shadow: 0 0 0.5rem Teal;
  margin-left: 1rem;
  background-color: #FFF;
  color: #1C1C1C;
}
body .header .navbar-buttons:hover {
  color: #FFF;
  background-color: Teal;
}
body .userInfo {
  max-width: 900px;
  padding: 1.5rem 0;
  margin: 0 auto;
  margin-top: 1rem;
  border-bottom: none;
  box-shadow: 0 -2px 8px Teal;
  width: 100%;
}
@media (max-width: 479px) {
  body .userInfo {
    padding: 0.5rem;
  }
  body .userInfo thead,
body .userInfo tbody,
body .userInfo th,
body .userInfo td,
body .userInfo tr {
    display: block;
  }
  body .userInfo thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  body .userInfo td:nth-last-child(1), body .userInfo td:nth-last-child(2) {
    display: none;
  }
}
body .userInfo thead tr {
  font-size: 0.9rem;
  color: #1C1C1C;
}
body .userInfo th, body .userInfo td {
  padding: 0.2rem 1rem;
}
body .userInfo .username {
  padding: 0.4rem 1rem;
  box-shadow: 0 0 0.5rem Teal;
}
body .userInfo .username button {
  all: unset;
  cursor: pointer;
  transition-duration: 0.4s;
}
body .userInfo .username button:hover {
  color: #FFF;
  background-color: Teal;
}
body .userInfo .balance {
  padding: 0.4rem 1rem;
  box-shadow: 0 0 0.5rem Teal;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
body .userInfo .balance button {
  text-align: center;
  margin: 0 1rem;
  all: unset;
  cursor: pointer;
}
body .userInfo .balance span {
  font-size: 1.5rem;
}
body .transaction-input-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1C1C1C;
  opacity: 0.7;
  filter: alpha(opacity=60);
  z-index: 5;
}
body .transaction-input {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}
body .transaction-input .button-close-form {
  position: absolute;
  right: 1rem;
  font-size: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}
body .hide-transaction-input {
  display: none;
}
body .animate {
  animation-duration: 0.75s;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-name: animate-pop;
  animation-fill-mode: backwards;
}
@keyframes animate-pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .filter-actions {
  box-shadow: 0 0 0.5rem Teal;
  max-width: 900px;
  padding: 1.5rem 0;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 479px) {
  body .filter-actions {
    padding: 0.5rem;
  }
  body .filter-actions thead,
body .filter-actions tbody,
body .filter-actions th,
body .filter-actions td,
body .filter-actions tr {
    display: block;
  }
  body .filter-actions thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  body .filter-actions td:nth-last-child(1), body .filter-actions td:nth-last-child(2) {
    display: none;
  }
}
body .filter-actions input[type=radio] {
  display: none;
}
body .filter-actions input[type=radio]:checked + .box {
  background-color: Teal;
}
body .filter-actions input[type=radio]:checked + .box span {
  color: #FFF;
  transform: translateY(10px);
}
body .filter-actions input[type=radio]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
body .filter-actions .box {
  width: 100px;
  height: 50px;
  background-color: rgba(4, 41, 58, 0.6);
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
}
body .filter-actions .box:active {
  transform: translateY(10px);
}
body .filter-actions .box span {
  position: absolute;
  transform: translate(0, 10px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1em;
  user-select: none;
  color: #1C1C1C;
}
body .filter-actions .box span:before {
  font-size: 0.8em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-30px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
body .filter-actions .all span:before {
  content: "\f14a";
}
body .filter-actions .debts span:before {
  content: "\f14a";
}
body .filter-actions .credits span:before {
  content: "\f14a";
}
body span {
  padding-right: 10px;
}
body .transactions-table {
  border-collapse: collapse;
  font-size: 1.4em;
  box-shadow: 0 0 0.5rem Teal;
  width: 100%;
  max-width: 900px;
  padding: 1.5rem 0;
  margin: 0 auto;
}
@media (max-width: 479px) {
  body .transactions-table {
    padding: 0.5rem;
    padding: 1.1rem;
  }
  body .transactions-table thead,
body .transactions-table tbody,
body .transactions-table th,
body .transactions-table td,
body .transactions-table tr {
    display: block;
  }
  body .transactions-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  body .transactions-table td:nth-last-child(1), body .transactions-table td:nth-last-child(2) {
    display: none;
  }
}
body .transactions-table thead tr {
  background-color: Teal;
  color: #FFF;
  text-align: left;
}
body .transactions-table th, body .transactions-table td {
  padding: 1.5rem 2.5rem;
}
body .transactions-table tbody tr {
  border-bottom: 0.06rem solid #1C1C1C;
}
body .transactions-table tbody tr:nth-of-type(even) {
  background-color: #1C1C1C;
}
body .transactions-table tbody tr:last-of-type {
  border-bottom: 0.12rem solid Teal;
}
body .transactions-table button {
  all: unset;
  cursor: pointer;
  transition-duration: 0.4s;
}
body .transactions-table button:hover {
  color: #FFF;
  background-color: Teal;
}
body .form {
  margin: 0 auto;
  background-color: Teal;
  padding: 0.9rem;
  border-radius: 0.9rem;
  width: 20%;
}
@media (max-width: 479px) {
  body .form {
    padding: 0.5rem;
    width: 90%;
  }
  body .form button {
    border: none;
  }
  body .form thead,
body .form tbody,
body .form th,
body .form td,
body .form tr {
    display: block;
  }
  body .form thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  body .form td:nth-last-child(1), body .form td:nth-last-child(2) {
    display: none;
  }
}
@media (min-width: 480px) {
  body .form {
    width: 70%;
  }
}
@media (min-width: 900px) {
  body .form {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  body .form {
    width: 30%;
  }
}
@media (min-width: 1800px) {
  body .form {
    width: 20%;
  }
}
body .form fieldset {
  border: 0.18rem solid #141414;
  padding: 0.3rem;
}
body .form legend {
  padding: 0.7rem;
  background-image: linear-gradient(to right, rgb(15, 29, 46), rgb(4, 12, 5));
  color: #FFF;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}
body .form-box {
  position: relative;
  padding: 1.2rem;
}
body .form-input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 0.06rem solid #1C1C1C;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 0.12rem;
}
body .form-input:focus ~ .form-label, body .form-input:valid ~ .form-label, body .form-input:-internal-autofill-selected ~ .form-label {
  top: -1.2rem;
  font-size: 0.7rem;
  color: #FFF;
}
body .form-label {
  position: absolute;
  color: #1C1C1C;
  padding: 1.2rem;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.4s;
}
body .form button {
  width: 100%;
  background-image: linear-gradient(to right, rgb(15, 29, 46), rgb(4, 12, 5));
  padding: 0.7rem;
  color: #FFF;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.6rem;
}
body .form button:hover {
  background-image: linear-gradient(to right, rgb(9, 37, 78), rgb(2, 1, 14));
}
body .form p {
  text-align: center;
  padding: 1.5rem;
  color: #1C1C1C;
}
body .form .error-message {
  padding-top: 0.6rem;
  color: #1C1C1C;
}
body footer {
  text-align: center;
  padding: 5rem 0;
  font-size: 0.8rem;
}
body footer span {
  font-weight: bold;
  color: #04293A;
}

/*# sourceMappingURL=styles.css.map */
