@use '../abstracts/variables'
@use '../abstracts/mixin'

@mixin section
  .userInfo
    @include mixin.container
    @include mixin.phone-only
    margin-top: 1rem
    border-bottom: none
    box-shadow: 0 -2px 8px variables.$night-blue
    width: 100%

    & thead tr
      font-size: 0.9rem
      color: variables.$seashell3

    & th, td
      padding: 0.2rem 1rem

    .username
      padding: 0.4rem 1rem
      box-shadow: 0 0 0.5rem variables.$night-blue
      button
        @include mixin.button

    .balance
      padding: 0.4rem 1rem
      box-shadow: 0 0 0.5rem variables.$night-blue
      @include mixin.flex-center
      justify-content: space-around
      button
        text-align: center
        margin: 0 1rem
        all: unset
        cursor: pointer
      span
        font-size: 1.5rem

  .transaction-input-full
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: variables.$seashell3
    opacity: 0.7
    filter: alpha(opacity=60)
    z-index: 5

  .transaction-input
    position: fixed
    left: 50%
    transform: translate(-50%, 0)
    z-index: 10

    .button-close-form
      position: absolute
      right: 1rem
      font-size: 1rem
      width: 2.5rem
      height: 2.5rem
      text-align: center

  .hide-transaction-input
    display: none

  .animate
    @include mixin.animate

  .filter-actions
    box-shadow: 0 0 0.5rem variables.$night-blue
    @include mixin.container
    @include mixin.phone-only
    text-align: center
    input[type="radio"]
      display: none
      &:checked
        + .box
          background-color: variables.$night-blue
          span
            color: variables.$primary-color
            transform: translateY(10px)
            &:before
              transform: translateY(0px)
              opacity: 1

    .box
      width: 100px
      height: 50px
      background-color: variables.$details-color
      transition: all 250ms ease
      will-change: transition
      display: inline-block
      text-align: center
      cursor: pointer
      position: relative
      &:active
        transform: translateY(10px)

      span
        position: absolute
        transform: translate(0, 10px)
        left: 0
        right: 0
        transition: all 300ms ease
        font-size: 1em
        user-select: none
        color: variables.$seashell3
        &:before
          font-size: 0.8em
          font-family: FontAwesome
          display: block
          transform: translateY(-30px)
          opacity: 0
          transition: all 300ms ease-in-out
          font-weight: normal
          color: white

    .all
      span
        &:before
          content: "\f14a"
    .debts
      span
        &:before
          content: "\f14a"
    .credits
      span
        &:before
          content: "\f14a"
  span
    padding-right: 10px

  .transactions-table
    border-collapse: collapse
    font-size: 1.4em
    box-shadow: 0 0 0.5rem variables.$night-blue
    width: 100%
    @include mixin.container
    @include mixin.phone-only
      padding: 1.1rem

    & thead tr
      background-color: variables.$night-blue
      color: variables.$primary-color
      text-align: left

    & th, td
      padding: 1.5rem 2.5rem

    & tbody tr
      border-bottom: 0.06rem solid variables.$seashell3

    & tbody tr:nth-of-type(even)
      background-color: variables.$seashell3

    & tbody tr:last-of-type
      border-bottom: 0.12rem solid variables.$night-blue

    button
      @include mixin.button
